<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
" default-autowire="byName">
    
    <import resource="applicationContext-properties.xml"/>
    <import resource="applicationContext-embeddedgf.xml"/>
    <import resource="applicationContext-cache.xml"/>
    <import resource="applicationContext-activiti.xml"/>
    
    <!-- Exporting web services using JAX-WS. Use sun-jaxws.xml for WS publish
    <bean class="org.springframework.remoting.jaxws.SimpleJaxWsServiceExporter">
        <property name="baseAddress" value="http://localhost:8084/"/>
    </bean>
     -->
     
    <!-- Load balance feature -->
    <bean id="workflowAccessor" class="org.rill.bpm.api.scaleout.ScaleoutProxyFactoryBean">
	    <property name="serviceInterface" value="org.rill.bpm.api.WorkflowOperations"/>
	    <property name="targets">
	    	<list>
	    		<ref local="activitiTemplate1"/>
	    		<ref local="activitiTemplate2"/>
	    	</list>
	    </property>
	    <!-- 
	    <property name="failOverExceptions">
	    	<list>
	    		<value>com.sun.xml.ws.client.ClientTransportException</value>
	    	</list>
	    </property>
	     -->
	</bean>
    
    <!-- Work bean below -->
    <bean id="activitiTemplate1" class="org.rill.bpm.ws.api.activiti.RobustActivitiTemplate">
        <property name="processEngineConfiguration" ref="processEngineConfiguration1" />
        <property name="processCreateInteceptor">
        	<list>
        		<bean class="org.rill.bpm.api.scaleout.ScaleoutProcessCreateInterceptor"/>
        	</list>
        </property>
        <property name="commonTaskLifecycleInterceptor">
            <list>
                <bean class="org.rill.bpm.api.support.XpathVarConvertTaskLifecycleInterceptor" />
                <bean class="org.rill.bpm.api.scaleout.ScaleoutTaskLifecycleInterceptor" />
            </list>
        </property>
    </bean>
    
    <bean id="activitiTemplate2" class="org.rill.bpm.ws.api.activiti.RobustActivitiTemplate">
        <property name="processEngineConfiguration" ref="processEngineConfiguration2" />
        <property name="processCreateInteceptor">
        	<list>
        		<bean class="org.rill.bpm.api.scaleout.ScaleoutProcessCreateInterceptor"/>
        	</list>
        </property>
        <property name="commonTaskLifecycleInterceptor">
            <list>
                <bean class="org.rill.bpm.api.support.XpathVarConvertTaskLifecycleInterceptor" />
                <bean class="org.rill.bpm.api.scaleout.ScaleoutTaskLifecycleInterceptor" />
            </list>
        </property>
    </bean>

	<bean id="processMonitorChartInfoHelper" class="org.rill.bpm.api.activiti.bpmndiagram.ProcessMonitorChartInfoHelper" />
    <bean id="rillWfTransitionTraceSchemaListener"
		class="org.rill.bpm.api.activiti.bpmndiagram.RillWfTransitionTraceSchemaListener">
	</bean>
	
	<!-- transaction advise -->
	<bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="*">PROPAGATION_REQUIRED,timeout_${transaction.timeout}</prop>
			</props>
		</property>
	</bean>

	<bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames">
			<list>
				<value>activitiTemplate*</value>
			</list>
		</property>
		<property name="interceptorNames">
			<list>
				<value>transactionInterceptor</value>
			</list>
		</property>
	</bean>
    
</beans>
