<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"> 
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Bpmn Diagram</title>
<script type="text/javascript">
var Try = {
  these: function() {
    var returnValue;

    for (var i = 0, length = arguments.length; i < length; i++) {
      var lambda = arguments[i];
      try {
        returnValue = lambda();
        break;
      } catch (e) { }
    }

    return returnValue;
  }
};
var Ajax = {
      getTransport: function() {
        return Try.these(
          function() {return new XMLHttpRequest()},
          function() {return new ActiveXObject('Msxml2.XMLHTTP')},
          function() {return new ActiveXObject('Microsoft.XMLHTTP')}
        ) || false;
      },

      activeRequestCount: 0
    };

var transport;
function retrieveTaskInfo(taskDefinitionKey) {
    transport = Ajax.getTransport();
     var url = "$!{contextPath}/bpmndiagram/taskinfo?processInstanceId=" + $!{processInstanceId} + "&activityDefineId=" + taskDefinitionKey + "&randomAjax" + Math.random();
     transport.open("GET", url, true);
     transport.onreadystatechange = updatePage;
     transport.send(null);
}

function updatePage() {
     if (transport.readyState == 4) {
       if (transport.status == 200) {
         var taskInfoJson = eval('('+transport.responseText+')');
         if (typeof(taskInfoJson.activitiDefineId)!="undefined" && taskInfoJson.activitiDefineId !== "null") {
            var altString = "Task Executor(s): " + taskInfoJson.taskExeMan +
                            "\nInitialize Time: " + taskInfoJson.taskInitialTime +
                            "\nCompletion Time: " + taskInfoJson.taskCompleteTime;
            document.getElementById(taskInfoJson.activitiDefineId).setAttribute("alt", altString);
       } else {
            return;
       }
     }
   }
}

</script>
</head>
<body>
    <img src="$!{contextPath}/bpmndiagram/diagram?processInstanceId=$!{processInstanceId}" border="0" usemap="#bpmnDiagram" alt="Bpmn Diagram" />

    <map name="bpmnDiagram" id="bpmnDiagram">
        #foreach($tdpEntry in $taskDefinitionPositionMap.entrySet())
            <area id="$!{tdpEntry.key}" shape="rect" coords="$!{tdpEntry.value.get(0)},$!{tdpEntry.value.get(1)},$!{tdpEntry.value.get(2)},$!{tdpEntry.value.get(3)}"
                onmouseover="retrieveTaskInfo('$!{tdpEntry.key}');" alt="$!{tdpEntry.key}" />
	#end
    </map>
</body>
</html>
