<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
" default-autowire="byName">
    
    <import resource="classpath:/org/rill/bpm/ws/metro/hello/applicationContext-hello.xml" />
    
    <!-- ##Metro Hello Service configuration## start  -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
        <property name="driverClass" value="org.h2.Driver" />
        <property name="url" value="jdbc:h2:mem:hello;DB_CLOSE_DELAY=1000;MVCC=TRUE" />
        <property name="username" value="sa" />
        <property name="password" value="" />
    </bean>
  	
  	<tx:annotation-driven/>
    <bean id="transactionManager" class="com.baidu.rigel.service.workflow.ws.metro.GlassfishJTATransactionManager">
    	<constructor-arg>
    		<bean class="com.sun.enterprise.transaction.JavaEETransactionManagerSimplified" init-method="postConstruct">
    			<property name="delegate">
    				<bean class="com.sun.enterprise.transaction.JavaEETransactionManagerSimplifiedDelegate"></bean>
    			</property>
    		</bean>
    	</constructor-arg>
    </bean>
    <bean id="transactionSynchronizationRegistry" class="com.sun.enterprise.transaction.TransactionSynchronizationRegistryImpl">
    	<constructor-arg>
    		<ref local="transactionManager"/>
    	</constructor-arg>
    </bean>
    <!-- ##Metro Hello Service configuration## end  -->
  
</beans>
