<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
">
    
    <!-- ##Embedded GF configuration## start  -->
    <bean id="embeddedGlassfish" class="org.rill.bpm.ws.metro.EmbeddedGlassfishLifecycle" 
    	init-method="start" destroy-method="stop">
    	<property name="enableBTrace">
    		<value>${glassfish.enableBtrace}</value>
    	</property>
    	<property name="properties">
    		<props>
    			<!-- Specify embedded install root DIR, 
    				so will not create new temple DIR for every start-time
    			<prop key="com.sun.aas.instanceRoot">some DIR</prop>
    			 -->
    			<!-- Specify embedded install root DIR
    			<prop key="glassfish.embedded.tmpdir">some DIR</prop>
    			 -->
    			<!-- Specify configuration file DIR --> 
    			<prop key="org.glassfish.embeddable.configFileURI">classpath:domain.xml</prop>
    			<!-- Specify auto delete embedded install root DIR --> 
    			<prop key="org.glassfish.embeddable.autoDelete">false</prop>
    		</props>
    	</property>
    	<property name="initCommand">
    		<map>
    			<entry key="create-jdbc-connection-pool">
    				<list>
    					<value>--datasourceclassname</value>
    					<value>com.mysql.jdbc.jdbc2.optional.MysqlXADataSource</value>
    					<value>--restype</value>
    					<value>javax.sql.XADataSource</value>
    					<value>--steadypoolsize</value>
    					<value>${jdbc.minPoolSize}</value>
    					<value>--maxpoolsize</value>
    					<value>${jdbc.maxPoolSize}</value>
    					<value>--idletimeout</value>
    					<value>${jdbc.maxIdleTime}</value>
    					<!-- re-connect when DB restarted. -->
    					<value>--isconnectvalidatereq</value>
    					<value>true</value>
    					<value>--validationmethod</value>
    					<value>custom-validation</value>
    					<value>--validationclassname</value>
    					<value>org.glassfish.api.jdbc.validation.MySQLConnectionValidation</value>
    					
    					<value>--sqltracelisteners</value>
    					<value>org.rill.bpm.web.sqltrace.SQLTraceListenerImpl</value>
    					<value>--property</value>
    					<value>User=${jdbc.username}:Password=${jdbc.password}:${jdbcpool.property}</value>
    					<value>rilldb_pool</value>
    				</list>
    			</entry>
    			<!-- 
    			<entry key="ping-connection-pool">
    				<list>
    					<value>rilldb_pool</value>
    				</list>
    			</entry>
    			 -->
    			<entry key="create-jdbc-resource">
    				<list>
    					<value>--connectionpoolid=rilldb_pool</value>
    					<value>jdbc/rilldb</value>
    				</list>
    			</entry>
    			<entry key="enable-monitoring">
    				<list>
    					<value>--modules</value>
    					<value>transaction-service=HIGH</value>
    				</list>
    			</entry>
    			<!-- Enable monitor service
    			<entry key="set">
    				<list>
    					<value>server.monitoring-service.module-monitoring-levels.transaction-service=HIGH</value>
    				</list>
    			</entry>
    			 -->
    		</map>
    	</property>
    </bean>

	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean" depends-on="embeddedGlassfish">
		<property name="jndiName">
			<value>jdbc/rilldb</value>
		</property>
	</bean>
  
    <bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
    </bean>
    <!-- ##Embedded GF configuration## end  -->
  
</beans>
