<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd"
       default-autowire="byName">

    <context:annotation-config />

	<bean id="sendReportViaEmailHelper" class="nu.com.rill.analysis.report.excel.export.SendReportViaEmailHelper"></bean>
	
	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host">
			<value>smtp.gmail.com</value>
		</property>
		<property name="username">
			<value>totyumengr@gmail.com</value>
		</property>
		<property name="password">
			<value>interhui1025</value>
		</property>
		<property name="port">
			<value>465</value>
		</property>
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
				<prop key="mail.smtp.timeout">25000</prop>
				<prop key="mail.smtp.starttls.enable">true</prop>
				<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>
				<prop key="mail.smtp.socketFactory.fallback">false</prop>
			</props>
		</property>
		
		<property name="defaultEncoding" value="utf-8"></property>
	</bean>
	
	<bean id="simpleMailMessage" class="org.springframework.mail.SimpleMailMessage">
		<property name="from">
			<value>report-service.rigel@baidu.com</value>
		</property>
		<property name="subject">
			<value> - 来自报表服务</value>
		</property>
		<property name="to">
			<list>
				<!-- RD -->
				<value>76511682@qq.com</value>
			</list>
		</property>
		<property name="bcc">
			<list>
				<!-- RD -->
				<value>mengran@baidu.com</value>
				<value>ramiran@sina.com</value>
				<value>totyumengr@gmail.com</value>
				<value>hdmr@tom.com</value>
			</list>
		</property>
	</bean>
	
    <bean id="templateMailSender" class="nu.com.rill.analysis.report.excel.export.InlineMailContentMailSender">
    </bean>

    <bean id="taskExecutor" class="org.springframework.core.task.SyncTaskExecutor">
    </bean>

</beans>