<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>rill-bpm-web</description>
    <display-name>rill-bpm-web</display-name>
    
    <context-param>
        <description>Spring Application Context</description>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:conf/applicationContext*.xml</param-value>
    </context-param>
    
    <listener>
        <description>WSAT Context Loader</description>
        <listener-class>org.rill.bpm.ws.listener.WSATServerPickPortListener</listener-class>
    </listener>
    <listener>
        <description>Spring Application Context Loader</description>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <description>Metro Listener</description>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    
    <!-- Character filter -->
    <filter>
	    <filter-name>UTF8Filter</filter-name>
    	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    	<init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
    	<filter-name>UTF8Filter</filter-name>
    	<url-pattern>/web/*</url-pattern>
    </filter-mapping>
    
    <!-- wstx-services -->
    <servlet>
        <description>WS-Coordination registerResponse service endpoint</description>
        <display-name>WSCoord RegisterResponse</display-name>
        <servlet-name>RegistrationRequesterPortTypeImpl</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>WS-Coordination register RPC service endpoint</description>
        <display-name>WSCoord Register RPC</display-name>
        <servlet-name>RegistrationPortTypeImpl</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>WS-AtomicTransaction Coordinator service endpoint</description>
        <display-name>WSAT Coordinator</display-name>
        <servlet-name>CoordinatorPortTypeImpl</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <description>WS-AtomicTransaction participant service endpoint</description>
        <display-name>WSAT Participant</display-name>
        <servlet-name>ParticipantPortTypeImpl</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
        <description>Metro Servlet</description>
        <servlet-name>MetroServlet</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet>
		<servlet-name>SpringMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SpringMVC</servlet-name>
		<url-pattern>/web/*</url-pattern>
	</servlet-mapping>
    
    <!-- wstx-services -->
    <servlet-mapping>
        <servlet-name>RegistrationRequesterPortTypeImpl</servlet-name>
        <url-pattern>/RegistrationRequesterPortType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationPortTypeImpl</servlet-name>
        <url-pattern>/RegistrationPortTypeRPC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoordinatorPortTypeImpl</servlet-name>
        <url-pattern>/CoordinatorPortType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ParticipantPortTypeImpl</servlet-name>
        <url-pattern>/ParticipantPortType</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MetroServlet</servlet-name>
        <url-pattern>/BPMWebService</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
