<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans   http://www.springframework.org/schema/beans/spring-beans.xsd" default-autowire="byName">

    <!-- Work bean below -->
    <bean id="workflowAccessor" class="com.baidu.rigel.service.workflow.api.activiti.ActivitiTemplate">
        <!-- open comment when you want to integrate with spring.
        <property name="processEngine" ref="processEngine" />
         -->
        <property name="processEngineConfiguration" ref="processEngineConfiguration" />
        <property name="commonTaskLifecycleInterceptor">
            <list>
                <bean class="com.baidu.rigel.service.workflow.api.activiti.support.ActivitiXpathVarConvertTaskLifecycleInterceptor" />
            </list>
        </property>
   </bean>

   <bean id="rigelWfTransitionTraceListener" class="com.baidu.rigel.service.workflow.api.activiti.bpmndiagram.RigelWfTransitionTraceListener" />
   <bean id="processMonitorChartInfoHelper" class="com.baidu.rigel.service.workflow.api.activiti.bpmndiagram.ProcessMonitorChartInfoHelper" />

   <!-- Test bean below -->
   <bean id="dummyTLI" class="com.baidu.rigel.service.workflow.api.extendattr.DummyTaskLifecycleInterceptor" />

</beans>
