<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
">
    <context:annotation-config/>
    
    <!-- ##Activiti5 configuration## start  -->
    <bean id="baseProcessEngineConfiguration" class="org.rill.bpm.ws.activiti.WSProcessEngineConfiguration" abstract="true">
        <!-- 
        <property name="dataSource" ref="dataSource" />
         -->
        <property name="transactionManager" ref="transactionManager" />
        <property name="databaseSchemaUpdate" value="true" />
        <property name="mailServerHost" value="localhost" />
        <property name="mailServerPort" value="5025" />
        <property name="jobExecutorActivate" value="true" />
		
        <!-- Rill extension -->
		<property name="postParseListeners">
			<list>
				<bean class="org.rill.bpm.api.activiti.RetrieveNextTasksHelper">
					<property name="autoAwireTransactionTakeListener" value="false"/>
					<property name="transitionTakeEventListener">
						<list>
							<ref local="rillWfTransitionTraceListener"/>
						</list>
					</property>
				</bean>
				<bean class="org.rill.bpm.ws.activiti.MetroBpmnParseListener">
				</bean>
			</list>
		</property>
		<property name="wsXmlImporter">
			<bean class="org.rill.bpm.ws.metro.WSImportToolImporterImpl"></bean>
		</property>
    </bean> 
    
    <bean id="rillWfTransitionTraceListener" class="org.rill.bpm.api.activiti.bpmndiagram.RillWfTransitionTraceListener">
    	<property name="workflowAccessor">
    		<ref bean="workflowAccessor"/>
    	</property>
    </bean>
    
    <bean id="processEngineConfiguration1" parent="baseProcessEngineConfiguration" depends-on="embeddedGlassfish">
        <property name="dataSource" ref="dataSource1" />
    </bean>
    
    <!-- Scale-out configurations -->
    <bean id="processEngineConfiguration2" parent="baseProcessEngineConfiguration" depends-on="embeddedGlassfish">
        <property name="dataSource" ref="dataSource2" />
        <!-- ########## It's very important for scale-out configuration ########## -->
        <property name="processEngineName" value="dataSource2"/>
        <!-- ACT-789. Also for scale-out -->
        <property name="idGenerator">
			<bean class="org.activiti.engine.impl.persistence.StrongUuidGenerator" />	
		</property>
    </bean>
    <!-- ##Activiti5 configuration## end  -->
  
</beans>
